@font-face {
    font-family: Gilroy;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/gilroy-regular.woff2") format("woff2");
}

@font-face {
    font-family: Gilroy;
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/gilroy-medium.woff2") format("woff2");
}

@font-face {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/gilroy-semibold.woff2") format("woff2");
}

@font-face {
    font-family: Gilroy;
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/gilroy-bold.woff2") format("woff2");
}

@font-face {
    font-family: Gilroy;
    font-weight: 800;
    font-style: normal;
    src: url("/fonts/gilroy-extrabold.woff2") format("woff2");
}

@font-face {
    font-family: "TYuYang";
    src: url("/fonts/yuyang.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TYuYang1";
    src: url("/fonts/yuyang1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TXiaoWei";
    src: url("/fonts/xiaowei.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "THappy";
    src: url("/fonts/happy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
